
.form {
    padding: 10px;
    margin: 5px;
    line-height: 2;
  }

  .form__fieldset {
    border: 2px;
    border-radius: 30px;
    border-color: rgb(155, 149, 149);
    border-style: inset;
    background-color: rgba(179, 187, 180, 0.37);
    box-shadow: 13px -3px 23px 12px #767676;
    padding: 15px;
    margin: 20px 0;
  }

  .form__legend {
    width: 100%;
    border: none;
    background-color: rgb(151, 151, 147);
    color: rgb(75, 55, 29);
    padding: 5px;
    border-radius: 45px;
    
  }

  .form__label {
     color:rgb(28, 40, 40);
    margin: 20px auto;
    border: 5px solid rgb(185, 152, 152);
    border-radius: 30px;
    border-style: double;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(241, 241, 230);
  }

  .form__labelText {
    color:rgb(2, 2, 2);
    margin: 20px auto;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(241, 241, 230);
  
  }
  
  .form__amount{
    border-radius: 30px;
    width: 200px;
    padding: 5px;
    cursor: pointer;
  }

  .form__currency {
    color: rgb(68, 60, 65);
    width: 200px;
    padding: 5px;
    display: inline-block;
    font-weight: 700;
    margin-right: 5px;
    border-radius: 30px;
    cursor: pointer;
  }

 .form__button {
    width: 100%;
    border: none;
    background-color: rgb(221, 227, 221);
    color: rgb(40, 40, 42);
    padding: 6px;
    border-radius: 45px;
    cursor: pointer;

}

.form__button:hover {
    background-color: hsl(196, 32%, 72%);
}

.form__button:active {
    background-color: hsl(190, 50%, 79%);
}


 .form__result {
  color:rgb(138, 99, 97);
  font-family: 'Playfair Display', serif;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 20px auto;
  padding: 10px;
  text-align: center;

  
 }

 .form__information {
    color: rgb(20, 22, 22);
    margin: 25px 0px 5px;
    padding: 10px;
    text-align: center;
    background-color: #9d9d9d70;
    box-shadow: 5px 15px 29px 0px #616161;
    border-radius: 20px;

   }
 
